.side-btn{
    display:flex;
    width: 270px;
    height: 54px;
    margin-left: 0%;
    border:1px solid black;
    justify-content: center;
    align-items: center;
    background-color:lightgreen;
    text-decoration: None;
    color:black;

}
.div-container{
    display:flex;
    flex-direction: row;
    margin-left: 0%;
    height:550px;

}
.div-container2{
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    /*box-shadow: 0 0 20px rgba(15, 15, 15, 0.5);   
    */
    border:2px solid black;

    width: 1300px;
    height: 540px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 0%;
}
.input-ele{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(170, 170, 170);
    color: white;
    border: none;
}
.div-container1{
    
    /*align-items: center;*/
    width: 250px;
    height: 450px;
    margin-left: 0%;

}

.input-ele::placeholder {
    color: #ffffff; 
    padding: 10px;
}

.con-1{
    align-items: center;
    margin: 100px;
}

.con-2{
    margin-top: 50px;
    margin-right: 100px;
}

body{
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    
}

.input-btn{
    height: 50px;
    width: 100px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 10px;
}
footer {
    background-color: #f8f9fa;
    text-align: center;
    border-top: 1px solid #ccc;
}

body {
    background-color: #7cfff8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This ensures the body takes at least the height of the viewport */
}


